<thead class="panel-heading bg-success text-success">
  <th>Comments</th>
  <th></th>
  <th></th>
  <th></th>
</thead>
<tbody>
  <% comments.each do |comment| %>
    <tr id="comment_<%= comment.id %>">
      <td class="panel-body"><%= comment.user.name %></td>
      <td class="panel-body"><%= comment.comment %><td>
      <td class="panel-body"></td>
      <td class="panel-body" id="comment-<% comment.id %>">
        <% if comment.user == current_user %>
          <%= link_to 'delete', book_book_comments_path(id: comment, book_id: book.id),
              method: :delete, remote: true, class:"btn btn-danger btn-sm" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
