<body>
  <div class="container">
    <div class="row">
    <%= render 'users/common' , user: current_user, book: @book %>
      <div class="col-xs-9">
        <h2>Books</h2>
          <div>
            <table class="table" id="books">
              <tr>
                <th class="active"></th>
                <th class="active">Title</th>
                <th class="active">Opinion</th>
                <th class="active"></th>
                <th class="active"></th>
              </tr>
              <%= render @books %>
              <%= paginate @books, class:"paginate"  %>
            </table>
        </div>
      </div>
    </div>
  </div>
</body>
